<div >
    <div class="first-picture">
            <img src="../../assets/lifeLabsHome.svg" style="width: 100%;">
           
    </div>
    
    <!-- code for web -->
    <div *ngIf="!isMobile" class="projects-content-web">
        <div style="margin-top: 5vh;margin-left: 5vh;" >
            <a style="margin-top: 5vh;color: black;" routerLink="/projects">All Projects</a><span style="text-decoration: none;">> Life Labs</span>

        </div>
        <div class="row">
            <div class="col-3">
    
            </div>
            <div class="col-6">
                <div>
                    <h1>Life Labs</h1>
                    <p>Everyone loves food. The world cuisine always attracts the food lovers. So what say, if we have an app that allows to have your food delivered at your doorstep from selected world cuisine restaurants of your city. 
                    </p>
                    <p>
                        As a food delivery app, we maintained the uniqueness, fresh look and feel of the application. 
                    </p>
                    <p>
                        This application is up and running in several countries like Singapore, Malaysia and India.
                    </p>
                 </div>
            </div>
            <div class="col-3">
    
            </div>
        </div>
     
        <div class="background-section">
            <div class="row">
                <div class="col-2">
    
                </div>
                <div class="col-8 project-pictures">
                    <div class="row">
                        <div class="col-4">
                            <img src="../../assets/lifelabs01.png" style="width: 100%">
                        </div>
                        <div class="col-4">
                            <img src="../../assets/lifelabs02.png" style="width: 100%">
                        </div>
                        <div class="col-4">
                            <img src="../../assets/lifelabs03.png" style="width: 100%;">

                        </div>
                    </div>
                </div>
                <div class="col-2">
    
                </div>
            </div>
    
     
        <div class="row">
            <div class="col-3">
    
            </div>
            <div class="col-6">
                <div >
                    <h1>Our Solution</h1>
                    <p>Easy to recognize interface, top notch user experience with restaurant AI grouping, proper segregation of food categories, and different types of other categories available like ready meat, groceries including fresh fruits and vegetables.
                    </p>
                </div>
            </div>
            <div class="col-3">
                
            </div>
        </div>
       
        </div>
        <div class="background-section">
         <div class="row">
             <div class="col-2">
    
             </div>
             <div class="col-8 project-pictures">
                <img style="width: 100%;" src="../../assets/lifeLabs11.svg">      
             </div>
             <div class="col-2"></div>
         </div>
         <div class="row">
            <div class="col-3">
    
            </div>
            <div class="col-6">
                <div >
                    <h1>Solution that we provided </h1>
                    <p>The feature includes speed  check, statistics about your performance,chat,mailbox and many
                        more. This dosen't end here,we are core part of Factory Fresh client team to enhance and 
                        provide best user experience continuously.
                    </p>
                    <h1>Open Cart Feature</h1>
                    <p>This feature allows you to see the cart and add more items from the main page.While your 
                       cart is open you can still shop for your favourite food and watch your cart simultaniously.
                       Also make any changes in the cart, on the fly.</p>
                   </div> 
            </div>
            <div class="col-3">
              
            </div>
        </div>
       
        </div>
    
        <div class="background-last-section">
        <div class="row project-pictures">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row">
                <div class="col-4">
                    <img src="../../assets/lifeLabs21.png" style="width: 100%;">
                </div>
                <div class="col-4">
                    <img src="../../assets/lifeLabs21.png" style="width: 100%;">
                </div>
                <div class="col-4">
                    <img src="../../assets/lifeLabs21.png" style="width: 100%;">
                </div>
            </div>
          
        </div>
       <div class="col-1">
    
       </div>
        </div>
        <div class="row">
            <div class="col-3">
    
            </div>
            <div class="col-6">
                <div >
                    <h1>Process</h1>
                    <p>To start with the project, we followed definite process including information gathering,user 
                        research,business analysis and competitive analysis.After we started creating information Architecture,data flows,user flows and basic wireframing. Thats how we gave  the shape to the project into live application.
                    </p>
                </div>
            </div>
            <div class="col-3">
                
            </div>
        </div>       
        </div>
    </div>
    
    <!-- code for mobile -->
       <div *ngIf="isMobile">
        <div class="mobile-section">
        <div style="margin-top: 3vh;margin-left: 3vh;" >
            <a style="margin-top: 5vh;color: black;" routerLink="/projects">All Projects</a><span style="text-decoration: none;">> Life Labs</span>

        </div>
        <div >
            <h1>About</h1>
            <p>Everyone loves food. The world cuisine always attracts the food lovers. So what say, if we have an app that allows to have your food delivered at your doorstep from selected world cuisine restaurants of your city.</p> 
            <p>As a food delivery app, we maintained the uniqueness, fresh look and feel of the application. </p>
            <p>This application is up and running in several countries like Singapore, Malaysia and India.</p>
         </div>
         <div class="background-section">
         <div class="carousal-section">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-1">
    
                        </div>
                        <div class="col-4 solution-one">
                            
                        </div>
                        <div class="col-2">
    
                        </div>
                        <div class="col-4 solution-two">
                           
                        </div>
                        <div class="col-1">
    
                        </div>
                    </div>            
                </ng-template>
    
                <ng-template ngbSlide>
                    <div class="row">
                        <div class="col-4">
    
                        </div>
                        <div class="col-4 solution-three">
                            
                        </div>
                        <div class="col-4">
    
                        </div>
                    </div>
    
                
                </ng-template>
               
              </ngb-carousel>
    
    
             
         </div>
    
         <div >
            <h1>Our Solution</h1>
            <p style="padding-bottom: 5vh;">Easy to recogonise interface, top notch user experience with restraunt AI grouping,proper
                segeration of food categiores, and  different types of other  categories available like ready
                meat, groceries including frest fruits and vegetables.
            </p>
        </div>
        </div>
        <div class="background-section">
        <div  style="text-align: center;" >
            <img style="width: 70%;" src="../../assets/lifeLabs11.svg">        
         </div>
         <div >
            <h1>Solution that we provided </h1>
            <p>The feature includes speed  check, statistics about your performance,chat,mailbox and many
                more. This dosen't end here,we are core part of Factory Fresh client team to enhance and 
                provide best user experience continuously.
            </p>
            <h1>Open Cart Feature</h1>
            <p style="padding-bottom: 5vh;">This feature allows you to see the cart and add more items from the main page.While your 
               cart is open you can still shop for your favourite food and watch your cart simultaniously.
               Also make any changes in the cart, on the fly.</p>
        </div>
    </div>
    <div class="background-last-section">
        <div class="carousal-section">
       <ngb-carousel>
        <ng-template ngbSlide>
            <div class="row">
                <div class="col-1">
    
                </div>
                <div class="col-10 process-one">
                    
                </div>              
                
                <div class="col-1">
    
                </div>
            </div>            
        </ng-template>
        <ng-template ngbSlide>
            <div class="row">
                <div class="col-1">
    
                </div>
                <div class="col-10 process-two">
                    
                </div>              
                
                <div class="col-1">
    
                </div>
            </div>            
        </ng-template>
        <ng-template ngbSlide>
            <div class="row">
                <div class="col-1">
    
                </div>
                <div class="col-10 process-three">
                    
                </div>
                <div class="col-1">
    
                </div>
            </div>
    
        
        </ng-template>
       
      </ngb-carousel>
    
    
    </div>
    <div >
        <h1>Process</h1>
        <p style="padding-bottom: 5vh;">To start with the project, we followed definite process including information gathering,user 
            research,business analysis and competitive analysis.After we started creating information Architecture,data flows,user flows and basic wireframing. Thats how we gave  the shape to the project into live application.
        </p>
    </div>
    </div>
    </div> 
    </div>
    <app-footer></app-footer>
    
    
    </div>
    