<div class="footer-section">

    <div *ngIf="!isMobile" class="content">
        <div class="row" style="width: 100%;">
            <div class="col-1">
            </div>
            <div class="col-5">
                <p style="font-size: 1.5rem;font-weight: bold;margin-top: 5vh;">We design to make people’s life easier.</p>
                <p style="color: #FFFFFF;text-decoration: underline;font-size: 1rem;" routerLink="/projects">Explore our projects</p>
                <p style="color: #FFFFFF;text-decoration: underline;font-size: 1rem;" routerLink="/contactUs">Contact Us</p>
            </div>
            <div class="col-3">

            </div>
            <div class="col-2">
                <div class="row" style="width: 100%; padding: 0%;margin-top: 5vh;height: 60%;">
                   <div class="col-4">

                   </div>
                    <div  class="col-4 ">
                            <a  href="https://www.instagram.com/thedesignplay8/" target="_blank">
                                <img style="height: 8vh;" src="../../assets/Instagram.png"> </a>
                    </div>
                    <div class="col-4 ">
                        <a href="https://www.linkedin.com/in/the-design-play" target="_blank" >
                            <img style="height: 8vh;" src="../../assets/Linkedin.png">
                        </a>
                    </div>
                   
                </div>
            </div>
            <div class="col-1">

            </div>
        </div>
        <div class="row" style="width: 100%;padding-bottom: 2vh;">
        <p style="text-align:center;margin-bottom: 0px;">Copyright @ TheDesignPlay 2021</p>
    </div>
    </div>   
    <div *ngIf="isMobile" class="content">
        <div class="row" style="width: 100%;">
            <div class="col-1">

            </div>
            <div class="col-10">
                
                <p style="font-size: 14px;font-weight: bold;margin-top: 5vh;">We design to make people’s life easier.</p>
                <p style="color: #FFFFFF;text-decoration: underline;font-size: 12px;" routerLink="/projects">Explore our projects</p>
                <p style="color: #FFFFFF;text-decoration: underline;font-size: 12px;" routerLink="/contactUs">Contact Us</p>
                <div class="row" style="height: 10vh;">
                    <div class="col-2">

                    </div>
                    <div class="col-4 ">
                        <a  href="https://www.instagram.com/thedesignplay8/" target="_blank">
                            <img style="height: 8vh;float: right;" src="../../assets/Instagram.png"> </a>
                    </div>
                    <div class="col-4 ">
                        <a href="https://www.linkedin.com/in/the-design-play" target="_blank" >
                            <img style="height: 8vh;float: right;" src="../../assets/Linkedin.png">
                        </a>
                    </div>
                    <div class="col-2">

                    </div>
                </div>
                <p style="text-align:center;margin-bottom: 2vh;font-size: 6px;">Copyright @ TheDesignPlay 2021</p>

            </div>
            <div class="col-1">

            </div>
        </div>
    </div> 
</div> 