<!-- code for web -->
<div *ngIf="!isMobile">
    <div class="row ">
        <div class="col-2">

        </div>
        <div class="col-8 content">
            <div class="content-first">
                <h1>We are digital pixels</h1>
                <p>UX(user experience) research is systematic investigation of users and their requirements,
                    in order to add context and insight into process of designing the user experience.
                </p>
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8 content">
            <div class="second-content">
                <h1>Our Vision</h1>
                <p>UX(user experience) research is systematic investigation of users and their requirements,
                    in order to add context and insight into process of designing the user experience.
                </p>
            </div>
        </div>
        <div class="col-2">

        </div>

    </div>
   
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-4 about-us">
                    <img src="../../../assets/aboutUs01.png" style="width: 75%;">

                </div>
                <div class="col-4 about-us">
                    <img src="../../../assets/aboutUs02.png" style="width: 75%;">
                    
                </div>
                <div class="col-4 about-us">
                    <img src="../../../assets/aboutUs03.png" style="width: 75%;">
                    
                </div>
            </div>
        </div>
     
    </div>

    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8 content">
            <h1>Remote Working</h1>
            <p>UX(user experience) research is systematic investigation of users and their requirements,
                in order to add context and insight into process of designing the user experience.
            </p>
        </div>
        <div class="col-2">

        </div>
    </div>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8 content">
            <h1>Location</h1>
            <p>UX(user experience) research is systematic investigation of users and their requirements,
                in order to add context and insight into process of designing the user experience.
            </p>
        </div>
        <div class="col-2">

        </div>
    </div>
    <app-footer></app-footer>
</div>
<!-- code for mobile -->
<div *ngIf="isMobile">
    <div class="row ">
        <div class="col-1">

        </div>
        <div class="col-10 content-mobile">
            <div class="content-first">
                <h1>We are digital pixels</h1>
                <p>UX(user experience) research is systematic investigation of users and their requirements,
                    in order to add context and insight into process of designing the user experience.
                </p>
            </div>
        </div>
        <div class="col-1">

        </div>
    </div>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10 content-mobile">
            <div class="second-content">
                <h1>Our Vision</h1>
                <p>UX(user experience) research is systematic investigation of users and their requirements,
                    in order to add context and insight into process of designing the user experience.
                </p>
            </div>
        </div>
        <div class="col-1">

        </div>

    </div>
   <div class="projects-section">
       <img src="../../../assets/aboutUs01.png">
   </div>
   <div class="projects-section">
    <img src="../../../assets/aboutUs02.png">
</div>
<div class="projects-section">
    <img src="../../../assets/aboutUs03.png">
</div>
    <!-- <div class="row">

        <div class="col-1">

        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-4 about-us">
                    <img src="../../../assets/aboutUs01.png" style="width: 75%;">

                </div>
                <div class="col-4 about-us">
                    <img src="../../../assets/aboutUs02.png" style="width: 75%;">
                    
                </div>
                <div class="col-4 about-us">
                    <img src="../../../assets/aboutUs03.png" style="width: 75%;">
                    
                </div>
            </div>
        </div>
     
    </div> -->

    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10 content-mobile">
            <h1>Remote Working</h1>
            <p>UX(user experience) research is systematic investigation of users and their requirements,
                in order to add context and insight into process of designing the user experience.
            </p>
        </div>
        <div class="col-1">

        </div>
    </div>
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10 content-mobile">
            <h1>Location</h1>
            <p>UX(user experience) research is systematic investigation of users and their requirements,
                in order to add context and insight into process of designing the user experience.
            </p>
        </div>
        <div class="col-1">

        </div>
    </div>
    <app-footer></app-footer>
</div>