<mat-toolbar>
    <mat-toolbar-row class ="dipixel-header">
    
    <button (click)="home()"mat-button class="header-logo" >
        <span class="dipixel-logo">dipixel</span>
    </button>   
    <span class="spacer"></span>
    <a mat-button class="header-menu-button" routerLink="/services" > Services</a>
    <a mat-button class="header-menu-button" routerLink="/projects" > Projects</a>
    <a mat-button class="header-menu-button"  routerLink="/aboutUs"> About Us</a>
    <a mat-button class="header-menu-button" routerLink="/contactUs" > Contact Us</a>
</mat-toolbar-row>
</mat-toolbar>