.details{
    width:70%;
    margin-left: -8vw;
}

.name-new{
    width: 100%;
    padding: 0px;
}

.first-tile .mat-grid-tile-content{
    align-items: baseline;
    margin-top:4vh
}
.second-tile .mat-grid-tile-content{
    align-items: baseline;
    margin-top:4vh
}
.contact-details{
    margin-top: 5vh;
}
.contact-image{
    margin-bottom: 3vh;
}
.deatils-block{
    margin-top: 4vh;
}
.content-mobile{
    margin-left: 5vw;
    margin-right: 5vw;
}
.details-mobile{
    width:100%;
    margin-top: 10vh;
}
.name-content-mobile{
    width: 100%;
}