<div class="content">
    <div class="first-division">
        <img src="../../assets/ProjectHome.png" style="width: 100%" >
    </div>
    <!-- code for web -->
    <div *ngIf="!isMobile" class="second-section-web">
        <h1 style="text-align: center;color: #BFCBD8;font-weight: 700;">Our recognized projects</h1>
        <div class="row projects-content-web">
            <div class="col-7">
                <div>
                    <img src="../../assets/projectsLL.svg" style="width: 100%;">                    
                   </div>
            </div>
            <div class="col-1">
            </div>          
            <div class="col-3">
                <div class="grid-text">
                    <h2>Life Labs</h2>
                    <p>The Life Labs application allows user to book tests, check reports and buy health products. It’s created keeping the needs of customers in mind.</p>
                    <a routerLink="/lifeLabs">Explore More.</a>
                </div>                
            </div>             
        </div>
        <div class="row projects-content-web">
            <div class="col-1">

            </div>
            <div class="col-4">
                <div class="grid-text" >
                    <h2>Flyer Eats</h2>
                    <p>This food and grocery deliery app is provide the top notch experience and performace. Succefully running in Singapore and some part of India.</p>
                    <a routerLink="/flyerEats">Explore More.</a>
                </div>
                
            </div>
            <div class="col-7">
                <div>
                    <img src="../../assets/projectFE.png" style="width: 100%;">                    
                   </div>
            </div>
        </div>
        <div class="row projects-content-web">
            <div class="col-7">
                <div>
                    <img src="../../assets/projectFF.png" style="width: 100%;">                    
                   </div>
            </div>
          
            <div class="col-3">
                <div class="grid-text">
                    <h2>Factory Fresh</h2>
                    <p>An amazing shopper app where user gets the ability to shop and earn from it. This has amazing user exprience with marvelour user interface. </p>
                    <a routerLink="/factoryFresh">Explore More.</a>
                </div>
                
            </div>
            <div class="col-1">
            </div>           
        </div>
        
       
        <div class="row projects-content-web">
            <div class="col-1">

            </div>
            <div class="col-4">
                <div class="grid-text" >
                    <h2>Cini Chop</h2>
                    <p>The cinema booking app which gives you a greate experience for booking your entertainment.</p>
                    <a routerLink="/ciniChop">Explore More.</a>
                </div>
                
            </div>
            <div class="col-7">
                <div>
                    <img src="../../assets/projectsCC.png" style="width: 100%;">
                    
                   </div>
            </div>

        </div>
        
        <div class="row projects-content-web">
            <div class="col-7">
                <div>
                    <img src="../../assets/ProjectVS.png" style="width: 100%;">                    
                   </div>
            </div>
          
            <div class="col-3">
                <div class="grid-text">
                    <h2>Vitamin Shopee</h2>
                    <p>Ecommerce app which allows users to order medicines and suppliments online. You can susbscribe, get delivery or decide to pick it up from the store. </p>
                    <a routerLink="/vitaminShopee">Explore More.</a>
                </div>
                
            </div>
            <div class="col-1">
            </div>           
        </div>
        
       
        <div class="row projects-content-web">
            <div class="col-1">

            </div>
            <div class="col-4">
                <div class="grid-text" >
                    <h2>Sociars</h2>
                    <p>This app provides security related soluctions to the end user and societies. It’s a gate security and social app which allows user to connect with their society members.</p>
                    <a routerLink="/sociars">Explore More.</a>
                </div>
                
            </div>
            <div class="col-7">
                <div>
                    <img src="../../assets/projectSo.png" style="width: 100%;">
                    
                   </div>
            </div>

        </div>
        
       
        <app-footer></app-footer>
    </div>
    
    <!-- code for mobile -->
    <div *ngIf="isMobile">
        <div class="second-section-mobile">

        <h1 style="text-align: center;color: #BFCBD8;font-weight: 700;margin-top: 5vh;">Our recognized projects</h1>
       <div class="content-mobile">
           <h2>Life Labs</h2>
           <img src="../../assets/projectsLL.svg">
           <p>The Life Labs application allows user to book tests, check reports and buy health products. It’s created keeping the needs of customers in mind.</p>
           <a  routerLink="/lifeLabs">Explore More.</a>      
         </div>
         <div class="content-mobile">
             <h2>
                 Flyer Eats
             </h2>
             <img src="../../assets/projectFE.png">
             <p>This food and grocery deliery app provides the top notch experience and performace. Succefully running in Singapore and some part of India.</p>
             <a  routerLink="/flyerEats">Explore More.</a>   
            </div>
         <div class="content-mobile">
            <h2>
                Factory Fresh
            </h2>
            <img src="../../assets/projectFF.png">
            <p>An amazing shopper app where user gets the ability to shop and earn from it. This has amazing user exprience with marvellous user interface. </p>
            <a  routerLink="/factoryFresh">Explore More.</a>      
        </div>
        <div class="content-mobile">
            <h2>
                Cini Chop
            </h2>
            <img src="../../assets/projectsCC.png">
            <p>The cinema booking app which gives you a greate experience for booking your entertainment.</p>
            <a  routerLink="/ciniChop">Explore More.</a>
        </div>
        <div class="content-mobile">
            <h2>
                Vitamin Shoppe
            </h2>
            <img src="../../assets/ProjectVS.png">
            <p>Ecommerce app which allows users to order medicines and suppliments online. You can susbscribe, get delivery or decide to pick it up from the store. </p>
            <a  routerLink="/vitaminShopee">Explore More.</a>
        </div>
        <div class="content-mobile">
            <h2>
                Sociars
            </h2>
            <img src="../../assets/projectSo.png">
            <p>This app provides security related soluctions to the end user and societies. It’s a gate security and social app which allows user to connect with their society members.</p>
            <a  routerLink="/sociars">Explore More.</a>
        </div>
    </div>
    <app-footer></app-footer>
    </div>    
</div>
