<div class="content">
    <div class="first-section">
        <img src = "../../assets/servicesHome.png" style="width: 100%" >
    </div>
    <!-- code for web -->
    <div class="row">
        <div class="col-1">

        </div>
        <div class="col-10">
            <div  *ngIf="!isMobile" >
                <div class="second-section">
                <h1 > We make design usable through</h1>
                <div class="row image-content">
                    <div class="image-one">
                        
                    </div>
                    <div class="column">
                        <h2>UX Research</h2> 
                    <br/>
                    <h3>UX(user experience) research is systematic investigation of users and their requirements,
                        in order to add context and insight into process of designing the user experience.</h3>
                    <ul>
                        <li>
                            Problem Statement
                            <p>A problem statement is a short,clear explanation of the issue to be  researched.
                                It sets up the context, relevnce and aims of the project.</p>
                        </li>
                        <li>
                            Business and Market analysis
                            <p>
                                A market analysis provides information about industries, customers, 
                                competitors and other market variables.
                            </p>
                        </li>
                        <li>
                           Information Architecture and Personas
                            <p>
                                Information Architecture (IA) is a science of organizing and structuring
                                content of the websites, web and mobile applications.
                            </p>
                        </li>
                        <li>
                            Usablity Testing
                            <p>
                                Usability Testing is also known as User Experience (UX) Testing , is a testing method for measuring how easy and user-friendly 
                                a software application is.
                            </p>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="row image-content">
                   
                    <div class="column">
                        <h2>UX-Ui Design</h2> 
                        <br/>
                        <h3>UX and UI design are two different elements of a single consumer experience.UX refers to the user experience,which focuses on how
                            something works and how people  interact with it. UI or User Interface  focuses on look and layout.
                        </h3>
                        <ul>
                            <li>
                                Work Flow
                                <p>An application work flow is a hierarchical diagram of a website or application,
                                    that shows how pages are prioritized, linked and labeled.
                                </p>
                            </li>
                            <li>
                                Wireframes
                                 <p>
                                     It's a two-dimensional skeletal outline of an application.They provide an overview of the 
                                     page structure, layout, user flow and functionality.
                                 </p>
                             </li>
                            <li>
                               Visual Design
                                <p>
                                    Visual Design is the "strategically implementing images, colors, fonts and other elements" in order to enhance a design or interaction.
                                </p>
                            </li>
                            <li>
                                Prototyping
                                <p>
                                   Prototyping is an experimental process where design teams implement ideas into tangible forms from paper to digital.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="image-two">
                        <!-- <img src="../../assets/servicesTeaching.png" > -->
                    </div>
                </div>
                <div class="row image-content">
                    <div class="image-three">
                        <!-- <img src="../../assets/servicesPresentation.png" > -->
                    </div>
                    <div class="column">
                        <h2>UI Development</h2> 
                    <br/>
                    <h3>We are here to help you in your business, we connect with you as design and development partner
                        for your business. Even for small requirement to bigger problems,  we'll stand for you,  we'll design for you and develop for you.
                    </h3>
                    <ul>
                        <li>
                            Work Flow
                            <p>UX(user experience) research is systematic investigation of users and their requirements,
                                in order to add context and insight into process of designing the user experience.</p>
                        </li>
                        <li>
                            Wireframes
                            <p>
                                UX(user experience) research is systematic investigation of users and their requirements,
                    in order to add context and insight into process of designing the user experience.
                            </p>
                        </li>
                        <li>
                           Visual Design
                            <p>
                                UX(user experience) research is systematic investigation of users and their requirements,
                                in order to add context and insight into process of designing the user experience.
                            </p>
                        </li>
                        <li>
                            Prototyping
                            <p>
                                UX(user experience) research is systematic investigation of users and their requirements,
                    in order to add context and insight into process of designing the user experience.
                            </p>
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="row image-content">
                    <div class="column">
                        <h2>Digital Marketing</h2> 
                    <br/>
                    <h3>We are here to help you in your business, we connect with you as design and development partner
                        for your business. Even for small requirement to bigger problems,  we'll stand for you,  we'll design for you and develop for you.
                    </h3>
                    <ul>
                        <li>
                            Work Flow
                            <p>UX(user experience) research is systematic investigation of users and their requirements,
                                in order to add context and insight into process of designing the user experience.</p>
                        </li>
                        <li>
                            Wireframes
                            <p>
                                UX(user experience) research is systematic investigation of users and their requirements,
                    in order to add context and insight into process of designing the user experience.
                            </p>
                        </li>
                        <li>
                           Visual Design
                            <p>
                                UX(user experience) research is systematic investigation of users and their requirements,
                                in order to add context and insight into process of designing the user experience.
                            </p>
                        </li>
                        <li>
                            Prototyping
                            <p>
                                UX(user experience) research is systematic investigation of users and their requirements,
                    in order to add context and insight into process of designing the user experience.
                            </p>
                        </li>
                    </ul>
                    </div>
                    <div class="image-four">
                        <!-- <img src="../../assets/servicesMarketing.png" > -->
                    </div>
                </div>
            </div>
               
            </div>
        </div>
        <div class="col-1">

        </div>
        <app-footer *ngIf="!isMobile"></app-footer>
    </div>
 
<!-- code for mobile -->
 <div *ngIf="isMobile" >
    <div class="mobile-section">
    <p style="text-align: center;color: #BFCBD8;font-weight: 700;margin-top: 5vh;"> We make design usable through</p>
        <div >
            <h1>UX Research</h1> 
            <div class="image-one-mobile">

            </div>
        </div>
        <div>            
        <p>UX(user experience) research is systematic investigation of users and their requirements,
            in order to add context and insight into process of designing the user experience.</p>
        <ul>
            <li>
                Problem Statement
                <p>A problem statement is a short,clear explanation of the issue to be  researched.
                    It sets up the context, relevnce and aims of the project.</p>
            </li>
            <li>
                Business and Market analysis
                <p>
                    A market analysis provides information about industries, customers, 
                    competitors and other market variables.
                </p>
            </li>
            <li>
               Information Architecture and Personas
                <p>
                    Information Architecture (IA) is a science of organizing and structuring
                    content of the websites, web and mobile applications.
                </p>
            </li>
            <li>
                Usablity Testing
                <p>
                    Usability Testing is also known as User Experience (UX) Testing , is a testing method for measuring how easy and user-friendly 
                    a software application is.
                </p>
            </li>
        </ul>
    </div>
    <div>
        <h1>UX-Ui Design</h1> 
        <div class="image-two-mobile">
        </div>        
    </div>
    <div>
        <p>UX and UI design are two different elements of a single consumer experience.UX refers to the user experience,which focuses on how
            something works and how people  interact with it. UI or User Interface  focuses on look and layout.
        </p>
        <ul>
            <li>
                Work Flow
                <p>An application work flow is a hierarchical diagram of a website or application,
                    that shows how pages are prioritized, linked and labeled.
                </p>
            </li>
            <li>
                Wireframes
                 <p>
                     It's a two-dimensional skeletal outline of an application.They provide an overview of the 
                     page structure, layout, user flow and functionality.
                 </p>
             </li>
            <li>
               Visual Design
                <p>
                    Visual Design is the "strategically implementing images, colors, fonts and other elements" in order to enhance a design or interaction.
                </p>
            </li>
            <li>
                Prototyping
                <p>
                   Prototyping is an experimental process where design teams implement ideas into tangible forms from paper to digital.
                </p>
            </li>
        </ul>
    </div>
    <div>
        <h1>UI Development</h1>
        <div class="image-three-mobile">
        </div>   
    </div>
    <div> 
        <p>We are here to help you in your business, we connect with you as design and development partner
            for your business. Even for small requirement to bigger problems,  we'll stand for you,  we'll design for you and develop for you.
        </p>
        <ul>
            <li>
                Work Flow
                <p>UX(user experience) research is systematic investigation of users and their requirements,
                    in order to add context and insight into process of designing the user experience.</p>
            </li>
            <li>
                Wireframes
                <p>
                    UX(user experience) research is systematic investigation of users and their requirements,
        in order to add context and insight into process of designing the user experience.
                </p>
            </li>
            <li>
               Visual Design
                <p>
                    UX(user experience) research is systematic investigation of users and their requirements,
                    in order to add context and insight into process of designing the user experience.
                </p>
            </li>
            <li>
                Prototyping
                <p>
                    UX(user experience) research is systematic investigation of users and their requirements,
        in order to add context and insight into process of designing the user experience.
                </p>
            </li>
        </ul>
    </div>
    <div>
        <h1>Digital Marketing</h1> 
        <div class="image-four-mobile">
        </div>   
    </div>
    <div>
        
        <p>We are here to help you in your business, we connect with you as design and development partner
            for your business. Even for small requirement to bigger problems,  we'll stand for you,  we'll design for you and develop for you.
        </p>
        <ul>
            <li>
                Work Flow
                <p>UX(user experience) research is systematic investigation of users and their requirements,
                    in order to add context and insight into process of designing the user experience.</p>
            </li>
            <li>
                Wireframes
                <p>
                    UX(user experience) research is systematic investigation of users and their requirements,
        in order to add context and insight into process of designing the user experience.
                </p>
            </li>
            <li>
               Visual Design
                <p>
                    UX(user experience) research is systematic investigation of users and their requirements,
                    in order to add context and insight into process of designing the user experience.
                </p>
            </li>
            <li>
                Prototyping
                <p>
                    UX(user experience) research is systematic investigation of users and their requirements,
        in order to add context and insight into process of designing the user experience.
                </p>
            </li>
        </ul>
    </div>


</div> 
<app-footer></app-footer>
</div>
</div>